*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.progress-block{
	width: 350px;

	position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    overflow: hidden;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
p, span{
	color: #626262;
}
.progress-title{
	background: #4a4949;
	font-size: 14px;
	color: white;
	padding: 10px;
	font-weight: 400;
}
.progress-body{
	background: #f2f2f2;
	padding: 10px;
	text-align: center;
}
.progress-content{
	background: white;
	border-radius: 5px;
	padding: 10px;
	border: 1px #d5d3d3 solid;
	border-radius: 8px;
}
.ui-progressbar-value.ui-corner-left.ui-widget-header{
	position: relative;
	overflow: visible;
	background: #0489d1;
	margin: 0;
	border-radius: 0;
	border: none;
}
div#progressbar{
	overflow: visible;
	height: 12px;
	background: #cecece;
	border-radius: 0;
	padding: 1px;
	width: 40%;
}
.progress-content-top{
	text-align: center;
	font-size: 0;
}
.progress-info{
	margin-top: 20px;
	font-size: 14px;
}
.progress-info img{
	max-width: 16px;
	max-height: 16px;
	margin-right: 5px;
	vertical-align: middle;
}
.progress-info span{
	vertical-align: middle;
}
.progress-content-top span, #progressbar, .progress-target{
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}
.progress-content-top span{
	font-size: 14px;
	font-weight: 500;
}
.progress-target{
	border: 1px #dcd9d9 solid;
	border-radius: 5px;
	width: 18%;
	background: rgba(158,153,153,1);
	background: -moz-linear-gradient(top, rgba(158,153,153,1) 0%, rgba(113,112,116,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(158,153,153,1)), color-stop(100%, rgba(113,112,116,1)));
	background: -webkit-linear-gradient(top, rgba(158,153,153,1) 0%, rgba(113,112,116,1) 100%);
	background: -o-linear-gradient(top, rgba(158,153,153,1) 0%, rgba(113,112,116,1) 100%);
	background: -ms-linear-gradient(top, rgba(158,153,153,1) 0%, rgba(113,112,116,1) 100%);
	background: linear-gradient(to bottom, rgba(158,153,153,1) 0%, rgba(113,112,116,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9999', endColorstr='#717074', GradientType=0 );
}
.progress-target p{
	color: #fff;
}
.progress-target hr{
	height: 2px;
    background: #7e7d7f;
    color: #7e7d7f;
    border: none;
	background: rgba(126,125,127,1);
	background: -moz-linear-gradient(left, rgba(126,125,127,0) 0%, rgba(126,125,127,1) 34%, rgba(126,125,127,1) 71%, rgba(126,125,127,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(126,125,127,0)), color-stop(34%, rgba(126,125,127,1)), color-stop(71%, rgba(126,125,127,1)), color-stop(100%, rgba(126,125,127,0)));
	background: -webkit-linear-gradient(left, rgba(126,125,127,0) 0%, rgba(126,125,127,1) 34%, rgba(126,125,127,1) 71%, rgba(126,125,127,0) 100%);
	background: -o-linear-gradient(left, rgba(126,125,127,0) 0%, rgba(126,125,127,1) 34%, rgba(126,125,127,1) 71%, rgba(126,125,127,0) 100%);
	background: -ms-linear-gradient(left, rgba(126,125,127,0) 0%, rgba(126,125,127,1) 34%, rgba(126,125,127,1) 71%, rgba(126,125,127,0) 100%);
	background: linear-gradient(to right, rgba(126,125,127,0) 0%, rgba(126,125,127,1) 34%, rgba(126,125,127,1) 71%, rgba(126,125,127,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7d7f', endColorstr='#7e7d7f', GradientType=1 );
}
.progress-target-top{
	font-size: 14px;
    font-weight: 300;
}
.progress-target-bottom{
	font-size: 20px;
}
#progressTitle {
    content: '';
    position: absolute;
    right: 0;
    bottom: -30px;
    display: none;
   	text-align: right;
   	font-weight: 700;
   	transform: translateX(50%);
}
#progressTitle span{
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	width: inherit;
}
#progressTitle span:before{
	content: '';
	border: 4px solid transparent;
    border-bottom: 5px solid #565555;
    width: 1px;
    margin: 0 auto 3px;
    display: block;
}
.preload{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 10;
	text-align: center;
	padding: 25px;
	font-size: 25px;
}
.done .progress-target{
	background: #00A910;
}
.done .progress-target hr{
	display: none;
}
.done .progress-info{
	display: none;
}
.done #progressTitle{
	display: none !important;
}
@media all and (max-width: 369px){
	.progress-block{
		width: 96%;
	}
}